set / system mtu default-port-mtu 9216
set / system mtu default-l2-mtu 9216
set / system mtu default-ip-mtu 9000

set / network-instance default
set / network-instance default type default
set / network-instance default interface ethernet-1/1.1
set / network-instance default interface ethernet-1/2.1
set / network-instance default interface system0.0

set / network-instance default ip-forwarding receive-ipv4-check false
set / network-instance default ip-forwarding receive-ipv6-check false

set / network-instance default protocols
set / network-instance default protocols bgp
set / network-instance default protocols bgp autonomous-system 65000
set / network-instance default protocols bgp router-id 100.1.1.1
set / network-instance default protocols bgp dynamic-neighbors
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/1.1
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/1.1 peer-group underlay
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/1.1 allowed-peer-as [ 1..4294967295 ]
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/2.1
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/2.1 peer-group underlay
set / network-instance default protocols bgp dynamic-neighbors interface ethernet-1/2.1 allowed-peer-as [ 1..4294967295 ]
set / network-instance default protocols bgp dynamic-neighbors accept match 0.0.0.0/0
set / network-instance default protocols bgp dynamic-neighbors accept match 0.0.0.0/0 peer-group overlay
set / network-instance default protocols bgp dynamic-neighbors accept match 0.0.0.0/0 allowed-peer-as [ 1..4294967295 ]

set / network-instance default protocols bgp ebgp-default-policy import-reject-all false
set / network-instance default protocols bgp ebgp-default-policy export-reject-all false
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp afi-safi ipv6-unicast admin-state enable

set / network-instance default protocols bgp afi-safi ipv6-unicast admin-state enable
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable

set / network-instance default protocols bgp group underlay

set / network-instance default protocols bgp group overlay afi-safi evpn admin-state enable
set / network-instance default protocols bgp group overlay afi-safi ipv4-unicast admin-state disable
set / network-instance default protocols bgp group overlay afi-safi ipv6-unicast admin-state disable

set / network-instance default protocols bgp group overlay route-reflector cluster-id 1.1.1.1

set / network-instance default protocols bgp afi-safi ipv6-unicast ipv4-unicast advertise-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi ipv6-unicast ipv4-unicast receive-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi ipv4-unicast ipv4-unicast advertise-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi ipv4-unicast ipv4-unicast receive-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi evpn evpn advertise-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi evpn ipv4-unicast advertise-ipv6-next-hops true
set / network-instance default protocols bgp afi-safi evpn ipv4-unicast receive-ipv6-next-hops true

set / interface ethernet-1/1
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 1
set / interface ethernet-1/1 subinterface 1 ipv6
set / interface ethernet-1/1 subinterface 1 ipv6 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv6 router-advertisement
set / interface ethernet-1/1 subinterface 1 ipv6 router-advertisement router-role
set / interface ethernet-1/1 subinterface 1 ipv6 router-advertisement router-role admin-state enable
set / interface ethernet-1/2
set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 1
set / interface ethernet-1/2 subinterface 1 ipv6
set / interface ethernet-1/2 subinterface 1 ipv6 admin-state enable
set / interface ethernet-1/2 subinterface 1 ipv6 router-advertisement
set / interface ethernet-1/2 subinterface 1 ipv6 router-advertisement router-role
set / interface ethernet-1/2 subinterface 1 ipv6 router-advertisement router-role admin-state enable

## System IP and the export policy to announce it to BGP underlay ##

set / interface system0
set / interface system0 subinterface 0
set / interface system0 subinterface 0 ipv4
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 100.1.1.1/32

set / routing-policy policy announce_system_IP
set / routing-policy policy announce_system_IP statement 1
set / routing-policy policy announce_system_IP statement 1 match
set / routing-policy policy announce_system_IP statement 1 match protocol local
set / routing-policy policy announce_system_IP statement 1 action
set / routing-policy policy announce_system_IP statement 1 action policy-result accept

set / network-instance default protocols bgp afi-safi ipv4-unicast export-policy announce_system_IP
## End ##

set / network-instance default protocols bgp afi-safi ipv4-unicast multipath max-paths-level-1 64
set / network-instance default protocols bgp afi-safi ipv4-unicast add-paths receive true
set / network-instance default protocols bgp afi-safi ipv4-unicast add-paths send true

set / network-instance default protocols bgp afi-safi ipv6-unicast multipath max-paths-level-1 64
set / network-instance default protocols bgp afi-safi ipv6-unicast add-paths receive true
set / network-instance default protocols bgp afi-safi ipv6-unicast add-paths send true

set / routing-policy policy add_5_asn statement add
set / routing-policy policy add_5_asn statement add match
set / routing-policy policy add_5_asn statement add match protocol bgp
set / routing-policy policy add_5_asn statement add action
set / routing-policy policy add_5_asn statement add action policy-result accept
set / routing-policy policy add_5_asn statement add action bgp
set / routing-policy policy add_5_asn statement add action bgp as-path
set / routing-policy policy add_5_asn statement add action bgp as-path prepend
set / routing-policy policy add_5_asn statement add action bgp as-path prepend as-number auto
set / routing-policy policy add_5_asn statement add action bgp as-path prepend repeat-n 5

set / network-instance default protocols bgp export-policy add_5_asn


